body{
    padding: 0;
    margin: 0;
    background: hsla(210, 64%, 91%, 0.09);
    font-family: tahoma;
}
#container{
    width: 960px;
    margin: 4em auto;
}
h1{
    COLOR: #a25da2;
    font-weight: lighter;
}
.formContainer{
    margin:4em auto 2em;
    width: fit-content;
}
#episodeName{
    width: 250px;
    height: 30px;
    padding: 5px;
}
button{
    height: 42px;
    width: 70px;
    color: purple;
    background-color: white;
}